/*Estilos da página index.html*/
/* importação de fonte externa */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

body{
    background-color: #E1D89F;
}
    .center{
        text-align: center;
    }

    .justify{
        text-align: justify;
    }

    h1, h2{
        font-family: 'Raleway';
    }

    form, .end{
        font-family: 'Open Sans';
    }

    .container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #cd8b76;
    }
    .texto{
        color: #27474E;
        font-family: 'Open Sans';
    }
    #menu li{
        display: inline;
        padding: 30px;
        font-family: 'Raleway';
    }

    #menu li a{
        text-decoration: none;
        color:black;
        font-size: 20px;
    }

    #menu li a:hover{
        color: grey;
    }

    .p-30{
        padding: 30px;
    }

    .br-50{
        border-radius: 50%;
    }

    .wh{
        width: 350px;
        height: 350px;
    }

    .tm-social{
        width: 50px;
        height: 50px;
    }

    .mb-50{
        margin-bottom: 50px;
    }
/*Estilos da página contato.html*/

.ml-50{
    margin-left: 50px;
}